@(id: String)

<div class="page-sidebar-wrapper">
	<div class="page-sidebar navbar-collapse collapse">
		<ul class="page-sidebar-menu " data-auto-scroll="true" data-slide-speed="200" id="projects">

			<li class="sidebar-toggler-wrapper">
					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
				<div class="sidebar-toggler">
				</div>
					<!-- END SIDEBAR TOGGLER BUTTON -->
			</li>
			<li style="height: 10px"></li>

			<li id='newMission'>
				<a href='@routes.MissionController.newMissionBefore()'>
					<i class='fa fa-plus'></i>
					<span class='title'>新建任务(沃特世)</span>
					<span class='selected'></span>
				</a>
			</li>

			<li id='newAgilentMission'>
				<a href='@routes.MissionController.newAgilentMissionBefore()'>
					<i class='fa fa-plus-square'></i>
					<span class='title'>新建任务(安捷伦)</span>
					<span class='selected'></span>
				</a>
			</li>

			<li id='missionManage'>
				<a href='@routes.UserController.missionManageBefore()'>
					<i class='fa fa-table'></i>
					<span class='title'>任务管理</span>
					<span class='selected'></span>
				</a>
			</li>

			<li id='paramAdjust'>
				<a href='@routes.AdjustMissionController.paramAdjustBefore()'>
					<i class='fa fa-wrench'></i>
					<span class='title'>参数优化</span>
					<span class='selected'></span>
				</a>
			</li>

			<li id='paramAdjustResult'>
				<a href='@routes.MissionController.paramAdjustResultBefore()'>
					<i class='fa fa-tablet'></i>
					<span class='title'>参数优化结果</span>
					<span class='selected'></span>
				</a>
			</li>

			<li id='unitConversion'>
				<a href='@routes.ToolController.unitConversionBefore()'>
					<i class='fa fa-recycle'></i>
					<span class='title'>浓度单位转换</span>
					<span class='selected'></span>
				</a>
			</li>

			<li id='passwordChange'>
				<a href='@routes.UserController.changePasswordBefore()'>
					<i class='fa fa-key'></i>
					<span class='title'>密码修改</span>
					<span class='selected'></span>
				</a>
			</li>



		</ul>
	</div>

	<script>
			$(function () {
				var menuContainer = jQuery('.page-sidebar ul');
				menuContainer.children('li.active').removeClass('active');
				$("#" + "@id").addClass('active')


			})
	</script>

</div>
