@()
<!DOCTYPE html>
<style>
		ul > li {
			line-height: 1.8em;
		}

</style>

<html>
	<body style="font-size: 14px;">
			<div style="font-size: 16px;line-height: 2em">
				"VG微生物多样性分析软件"给您问好！<br>
				<b>"它"身经百战，历经四年，多达几十个版本升级优化~精心打造，实用性强！<br>
					赶紧点击下方链接或图片~下载体验吧！</b><br>
					<a target="_blank" href="http://amplicon.vgenomics.cn">amplicon.vgenomics.cn</a><br>
					<ul>
						<li>
							新装出发的微生物多样性分析软件，满足您微生物多样性研究的全部需求。
						</li>
						<li>
							涵盖原始数据处理、OTU表生成、alpha多样性分析作图、beta多样性分析作图、种群结构分析等。
						</li>
						<li>
							更有RDA/CCA环境因子关联分析、PICRUSt功能预测等强劲分析工具，一站式覆盖，一网打尽。
						</li>
						<li>
							适用于Windows操作系统，运行仅需普通电脑配置（8G，双核）。
						</li>
						<li>
						分析模块均源于公开发表文献中广受认可的算法和程序，权威可靠。
						</li>
						<li>
							操作升级易上手。无需生信分析背景，轻点鼠标，简单拖曳，即可完成各类分析作图。
						</li>

					</ul>
			</div>

	<a href="http://amplicon.vgenomics.cn" target="_blank"><img src="http://12596274.s21i.faiusr.com/2/ABUIABACGAAgtbnC5AUo6KHeqQcwsQc4nwQ.jpg?tdsourcetag=s_pcqq_aiomsg"
	style="width: 800px"></a>

	<hr>
	<img src="http://12596274.s21i.faiusr.com/3/ABUIABADGAAg1JnEzQUo1PP1CjDEAzj7AQ!160x160.gif" style="width: 120px"><br>
	<style>
			.myCss {
				text-indent: 1em;
			}
	</style>
	<div style="font-size: 12px;">
		<div class="myCss">VGsot Team，VG软件团队</div>
		<div class="myCss">上海盈飞生物科技有限公司</div>
		<div class="myCss">网址：<a href="http://www.vgenomics.cn" target="_blank">http://www.vgenomics.cn</a></div>
		<div class="myCss">地址：上海市嘉定区兴贤路1180号7幢3层</div>
		<div class="myCss">免费热线：400-756-2059</div>
	</div>

	</body>
</html>