@()(implicit request: RequestHeader)
@main("任务管理")("missionManage") {
	<style>
			.genome-pre {
				white-space: pre-wrap;
				word-wrap: break-word;
				border: 0px solid #ccc;
				background-color: white;
			}
	</style>
	<div class="page-content">

		<div class="page-bar">
			<ul class="page-breadcrumb">
				<li>
					<i class="fa fa fa-table"></i>
					<a href="">任务管理</a>
				</li>
			</ul>
		</div>


		<div class="row-fluid">
			<div class="row">
				<div class="col-md-12 col-sm-12">
					<div class="portlet blue-madison box">
						<div class="portlet-title">
							<div class="caption">
								任务管理
							</div>
						</div>

						<div class="portlet-body">
							<div class="table-responsive">


								<table class="display table table-bordered" id="missionTable" data-pagination="true" data-search="true"
								data-toolbar="#toolbar" data-page-list="[10, 25, 50, 100, all]" data-multiple-search="true">
									<thead>
										<tr>
											<th data-field="missionName" data-sortable="true">任务名</th>
											<th data-field="state" data-sortable="true"
											data-formatter="stateFmt"
											>任务状态</th>
											<th data-field="startTime" data-sortable="true">开始时间</th>
											<th data-field="endTime" data-sortable="true">结束时间</th>
											<th data-field="operate" data-formatter="operateFmt">操作</th>
										</tr>
									</thead>
								</table>

							</div>
						</div>
					</div>
				</div>
			</div>


		</div>

	</div>


	<script>

			$(function () {
				$('#missionTable').bootstrapTable({});

				updateMission()

				var wsUri = "@routes.MissionController.updateMissionSocket().webSocketURL()"
				testWebSocket(wsUri);

			})
			
			function updateByHand() {
				setInterval("updateMission()", 3000)
			}

			function updateMission() {
				$.ajax({
					url: "@routes.MissionController.getAllMission()",
					type: "get",
					dataType: "json",
					success: function (data) {
						$("#missionTable").bootstrapTable("load", data)
					}
				})
			}

			function stateFmt(value, row, index) {
				var stateStr;
				if (value == "success") {
					stateStr = "<span class='label label-success'>成功！</span>"
				} else if (value == "running") {
					stateStr = "正在运行&nbsp;<img class='runningImage'src='@routes.Assets.at("images/running2.gif")' style='width: 30px; height: 20px;'>"
				} else {
					stateStr = "<span class='label label-danger'>错误！</span>"
				}
				return stateStr
			}

			String.prototype.startWith = function (str) {

				var reg = new RegExp("^" + str);

				return reg.test(this);

			}


			function testWebSocket(wsUri) {
				function onOpen(evt) {
					doSend(JSON.stringify({
						info: "start"
					}))
				}

				function doSend(message) {
					websocket.send(message);
				}

				function onClose(evt) {
					console.log('ERROR: ' + evt.code + "," + evt.reason + "," + evt.wasClean);
				}

				function onMessage(evt) {
					var message = evt.data
					writeToScreen(message);

				}

				function onError(evt) {
				    updateByHand()
					console.log('ERROR: ' + evt.code + "," + evt.reason + "," + evt.wasClean);
				}

				function writeToScreen(message) {
					var data = $.parseJSON(message)
					$('#missionTable').bootstrapTable("load", data);
				}

				var websocket = new WebSocket(wsUri);
				websocket.onopen = function (evt) {
					onOpen(evt)
				};
				websocket.onclose = function (evt) {
					onClose(evt)
				};
				websocket.onmessage = function (evt) {
					onMessage(evt)
				};
				websocket.onerror = function (evt) {
					onError(evt)
				};
			}

			function operateFmt(value, row, index) {
				var deleteStr = "<a title='删除' onclick=\"deleteMission('" + row.id + "')\" style='cursor: pointer;'><span><em class='fa fa-close'></em></span></a>"
				var downloadStr = "<a title='下载结果' href='@routes.MissionController.downloadResult()?missionId="+row.id+"' style='cursor: pointer;'><span><em class='fa fa-download'></em></span></a>"
				var viewStr = "<a title='日志' onclick=\"viewLog('" + row.id + "')\" style='cursor: pointer;'><span><em class='fa fa-file-text'></em></span></a>"
				var downloadDataStr = "<a title='下载原始数据' href='@routes.MissionController.downloadData()?missionId="+row.id+"' style='cursor: pointer;'><span><em class='fa fa-cloud-download'></em></span></a>"
				var rs = []
				if (row.state == "success") {
					rs.push(downloadStr)
					rs.push(downloadDataStr)
				}
				if (row.state != "running") {
					rs.push(viewStr)
				}
				rs.push(deleteStr)

				var configStr = "<a title='参数调整' href='@routes.AdjustMissionController.paramAdjustBefore()?missionId="+row.id+"' style='cursor: pointer;'><span><em class='fa fa-wrench'></em></span></a>"

				if (row.state == "success") {
					rs.push(configStr)
				}

				return rs.join(" ")

			}

			function deleteMission(id) {
				swal({
							title: "",
							text: "确定要删除此数据吗？",
							type: "warning",
							showCancelButton: true,
							showConfirmButton: true,
							confirmButtonClass: "btn-danger",
							confirmButtonText: "确定",
							closeOnConfirm: false,
							cancelButtonText: "取消",
							showLoaderOnConfirm: true
						},
						function () {
							$.ajax({
								url: "@routes.MissionController.deleteMissionById()?missionId=" + id,
								type: "get",
								success: function (data) {
									$('#missionTable').bootstrapTable("load", data);
									swal("成功！", "删除成功！", "success")
								}
							});
						});
			}

			function viewLog(id) {
				$.ajax({
					url: "@routes.MissionController.getLogContent()",
					type: "get",
					data: {
						missionId: id
					},
					success: function (data) {
						layer.open({
							type: 1,
							title: "<h4>运行信息</h4>",
							area: ['900px', '600px'],
							skin: 'layui-layer-demo',
							closeBtn: 1,
							anim: 2,
							shadeClose: true,
							maxmin: true,
							content: "<pre style='word-wrap: break-word' class='genome-pre'>" + data + "</pre>"
						})
					}
				});
			}

	</script>


}