@(missionName: String)(implicit request: RequestHeader)
@main("新建任务(安捷伦)")("newAgilentMission") {

	<div class="page-content">

		<div class="page-bar">
			<ul class="page-breadcrumb">
				<li>
					<i class="fa fa-plus-square"></i>
					<a href="#">新建任务(安捷伦)</a>
				</li>
			</ul>
		</div>

		<div class="row-fluid">
			<div class="row">
				<div class="col-md-12 col-sm-12">
					<div class="portlet blue-madison box">
						<div class="portlet-title">
							<div class="caption">
								新建任务
							</div>
						</div>

						<div class="portlet-body">

							<form id="form" class=" form-horizontal" accept-charset="UTF-8"
							action="@routes.UserController.changePassword()" autocomplete="off" method="post" style="margin-top: 30px;">

								<div class="col-sm-offset-2">
									<span class="error" style="line-height: 35px;">@request.flash.get("info")</span>
								</div>

								<div class="form-group">
									<label class="control-label col-sm-2">任务名: <span class="must">*</span></label>
									<div class="col-sm-3">
										<input class="form-control" name="missionName" value="@missionName" onfocus="inputSelect(this)">
										<span class="help-block"><a href="@routes.ToolController.downloadExampleData()?fileName=example_agilent_data.zip"><em>
											示例数据</em></a></span>
									</div>

								</div>

								<div class="form-group">
									<label class="control-label col-sm-2">原始数据文件(*.zip):</label>
									<div class="col-sm-8">
										<input id="dataFiles" type="file" class="file control-label" name="dataFiles"
										data-show-preview="false" accept=".zip"
										data-show-upload="false"  >
									</div>
								</div>

								<div class="form-group">
									<label class="control-label col-sm-2">样品信息配置表（*.xlsx）:</label>
									<div class="col-sm-8">
										<input id="sampleConfigFile" type="file" class="file control-label" name="sampleConfigFile"
										data-show-preview="false" accept=".xlsx"
										data-show-upload="false" >
									</div>
								</div>

								<div class="form-group">
									<label class="control-label col-sm-2">物质信息配置表（*.xlsx）:</label>
									<div class="col-sm-8">
										<input id="compoundConfigFile" type="file" class="file control-label" name="compoundConfigFile"
										data-show-preview="false" accept=".xlsx"
										data-show-upload="false" >
									</div>
								</div>

								<div class="form-group">
									<label class="control-label col-sm-2">
										线程数:</label>
									<div class="col-sm-3">
										<input class="form-control" name="threadNum" id="threadNum" value="4">
									</div>
								</div>

								<div class="form-group">
									<label class="control-label col-sm-2">输出作图结果？</label>
									<div class="col-sm-3">
										<select class="form-control" name="isPlot" required="required" style="border-radius: 4px;">
											<option value="true" selected>是</option>
											<option value="false" >否</option>
										</select>
									</div>
								</div>


								<div class="form-group form-horizontal">
									<div class="actions col-sm-offset-2 col-sm-2">
										<button type="button" class="btn btn-primary" style="width: 90%;" id="search" onclick="myRun()">
											开始运行</button>
									</div>
								</div>

							</form>


						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script>
			var fileNames = []
			var index
			$(function () {
				bootstrapValidator()
				$("#form").bootstrapValidator("revalidateField", "missionName")
			})

			function progressHandlingFunction(e) {
				if (e.lengthComputable) {
					var percent = e.loaded / e.total * 100;
					$('#progress').html("(" + percent.toFixed(2) + "%)");
				}
			}

			function clearFile() {
				$("#compoundConfigFile").fileinput('clear')
				$("#sampleConfigFile").fileinput("clear")
				$("#dataFiles").fileinput("clear")
				$("#form").bootstrapValidator("revalidateField", "compoundConfigFile")
				$("#form").bootstrapValidator("revalidateField", "sampleConfigFile")
				$("#form").bootstrapValidator("revalidateField", "dataFiles")
			}

			function fileCheck() {
				var form1 = new FormData($("#form")[0])
				var fd = new FormData()
				fd.append("compoundConfigFile", $("#compoundConfigFile")[0].files[0])
				fd.append("sampleConfigFile", $("#sampleConfigFile")[0].files[0])
				for (var i = 0; i < fileNames.length; i++) {
					fd.append('fileNames[]', fileNames[i])
				}
				$.ajax({
					url: "@routes.MissionController.fileCheck()",
					type: "post",
					processData: false,
					contentType: false,
					data: fd,
					success: function (data) {
						if (!data.valid) {
							layer.close(index)
							swal("Error", data.message, "error")
							clearFile()
						} else {
							$("#prompt").text("正在上传文件")
							$.ajax({
								xhr: function () {
									var myXhr = $.ajaxSettings.xhr();
									if (myXhr.upload) { //检查upload属性是否存在
										//绑定progress事件的回调函数
										myXhr.upload.addEventListener('progress', progressHandlingFunction, false);
									}
									return myXhr
								},
								url: "@routes.MissionController.newAgilentMission()",
								type: "post",
								processData: false,
								contentType: false,
								data: form1,
								success: function (data) {
									layer.close(index)
									if (!data.valid) {
										swal("Error", data.message, "error")
									} else {
										window.location.href = "@routes.UserController.missionManageBefore()"
									}
								}
							});
						}
					}
				});
			}

			function myRun() {
				var form = $("#form")
				var fv = form.data("bootstrapValidator")
				fv.validate()
				if (fv.isValid()) {
					fileNames = []
					var element = "<div id='content'><span id='info'><span id='prompt'>正在检查配置文件</span><span id='progress'>。。。</span></span>&nbsp;<img class='runningImage' src='@routes.Assets.at("images/running2.gif")' style='width: 30px;height: 20px;'></div>"
					index = layer.alert(element, {
						skin: 'layui-layer-molv'
						, closeBtn: 0,
						title: zhInfo,
						btn: []
					});
					var filesInput = $("#dataFiles")[0].files[0]
					zip.useWebWorkers = false
					zip.createReader(new zip.BlobReader(filesInput), function (zipReader) {
						zipReader.getEntries(function (entries) {
							if (entries.length) {
								fileNames = $.map(entries, function (v) {
									var fileName = v.filename.substring(v.filename.lastIndexOf("/") + 1)
									return fileName
								})
							}
							zipReader.close()
							fileCheck()
						})
					}, function (error) {
						console.log(error);
					});
				}

			}

			$(".file").fileinput({
				showPreview: false,
				browseLabel: "选择...",
				removeLabel: "删除文件",
				language: "zh"
			});

			function bootstrapValidator() {
				var infinityNumber = Number.MAX_VALUE
				$('#form').bootstrapValidator({
					framework: 'bootstrap',
					icon: {
						valid: 'glyphicon glyphicon-ok',
						invalid: 'glyphicon glyphicon-remove',
						validating: 'glyphicon glyphicon-refresh'
					},
					fields: {

						dataFiles: {
							validators: {
								notEmpty: {
									message: '数据文件不能为空！'
								},
								file: {
									extension: 'zip',
									message: '数据文件格式不正确！'
								}
							}
						},
						missionName: {
							validators: {
								notEmpty: {
									message: '任务名不能为空！'
								},
								remote: {
									message: "任务名已存在！",
									url: "@routes.MissionController.missionNameCheck()",
									type: "POST",
									delay: 1000
								},
							}
						},
						sampleConfigFile: {
							validators: {
								notEmpty: {
									message: '样品配置文件不能为空！'
								},
								file: {
									extension: 'xlsx',
									message: '样品配置文件格式不正确！'
								}
							}
						},
						compoundConfigFile: {
							validators: {
								notEmpty: {
									message: '物质配置文件不能为空！'
								},
								file: {
									extension: 'xlsx',
									message: '物质配置文件格式不正确！'
								}
							}
						},
						threadNum: {
							validators: {
								notEmpty: {
									message: '线程数不能为空！'
								},
								integer: {
									message: '线程数必须为整数！'
								},
								between: {
									min: 1,
									max: infinityNumber,
									message: "线程数必须大于0！"
								}
							}
						},


					}

				});
			}


	</script>


}